<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    {% include 'tcsion/nav.html' %}
    <div class="container">
        <h2 class="text-center mt-3">Contact Form</h2><br>
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}

            <div class="text-center text-success"><strong>{{message}}</strong></div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>


        </form>
    </div>
    <br>
    {% include 'tcsion/footer.html' %}
</body>
</html>