<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- NewsLetter -->
<div class="container text-center mt-3" style="background: linear-gradient(to left, #f69ec4, #f9dd94 100%);">
    <h1 class="pt-4" style="color:white;">Subscribe to our Newsletter</h1>
      <br>
      <form method="post" action="newsletter">
        <!-- For messege display -->
        <strong>{{message}}</strong>
        {% csrf_token %}
        {{ form.as_p }}
      <br>
      <button type="submit" class="btn btn-outline-warning btn-lg mb-2" style="color:aliceblue;border-color:aliceblue;font-size:1.4em;font-weight:600;">Submit</button>
      </form>
  </div>
  
</body>
</html>